$primarycolor:#607D8B;
$secondarycolor: #20232a;
$accentcolor:#0466c8;
$lightprimarycolor: #CFD8DC;
$darkprimarycolor:#1d3557;
$primarytext:#212121;
$secondarytext:#757575;
$dividercolor:#BDBDBD;




