@import './style.scss';
main {
    .texto{
        float: left;
        width: 70%;
        height: 400px;
        color: white;
    }& .texto{
        margin-top:15%;
        margin-left:30px;
        font-size: 20px;
        text-align: left;
        .text-container{
            padding: 20px;
        }& .text-container{
            text-align:center;
            h1{
                padding: 20px;
            }
        }
    }
}